body {
  font-family: system-ui, -apple-system, Roboto, "Segoe UI", sans-serif;
  background-color: #FFFCEB;
}

h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0.5em;
}

li {
    margin: 0;
    padding: 0.1em;
}

img.profile {
    width: 10em;
    float: left;
    padding: 1em;
}

.post {
  max-width: 72em;
}
